brick/math                         0.11.0   Arbitrary-precision arithmetic ...
dflydev/dot-access-data            v3.0.2   Given a deep data structure, ac...
doctrine/inflector                 2.0.8    PHP Doctrine Inflector is a sma...
doctrine/lexer                     3.0.0    PHP Doctrine Lexer parser libra...
dragonmantank/cron-expression      v3.3.3   CRON for PHP: Calculate the nex...
egulias/email-validator            4.0.2    A library for validating emails...
fakerphp/faker                     v1.23.0  Faker is a PHP library that gen...
filp/whoops                        2.15.4   php error handling for cool kids
fruitcake/php-cors                 v1.3.0   Cross-origin resource sharing l...
graham-campbell/result-type        v1.1.2   An Implementation Of The Result...
guzzlehttp/guzzle                  7.8.0    Guzzle is a PHP HTTP client lib...
guzzlehttp/promises                2.0.1    Guzzle promises library
guzzlehttp/psr7                    2.6.1    PSR-7 message implementation th...
guzzlehttp/uri-template            v1.0.2   A polyfill class for uri_templa...
hamcrest/hamcrest-php              v2.0.1   This is the PHP port of Hamcres...
laravel/framework                  v10.34.2 The Laravel Framework.
laravel/pint                       v1.13.6  An opinionated code formatter f...
laravel/prompts                    v0.1.13 
laravel/sail                       v1.26.2  Docker files for running a basi...
laravel/sanctum                    v3.3.2   Laravel Sanctum provides a feat...
laravel/serializable-closure       v1.3.3   Laravel Serializable Closure pr...
laravel/tinker                     v2.8.2   Powerful REPL for the Laravel f...
league/commonmark                  2.4.1    Highly-extensible PHP Markdown ...
league/config                      v1.2.0   Define configuration arrays wit...
league/flysystem                   3.21.0   File storage abstraction for PHP
league/flysystem-local             3.21.0   Local filesystem adapter for Fl...
league/mime-type-detection         1.14.0   Mime-type detection for Flysystem
livewire/livewire                  v3.2.2   A front-end framework for Laravel.
mockery/mockery                    1.6.6    Mockery is a simple yet flexibl...
monolog/monolog                    3.5.0    Sends your logs to files, socke...
myclabs/deep-copy                  1.11.1   Create deep copies (clones) of ...
nesbot/carbon                      2.71.0   An API extension for DateTime t...
nette/schema                       v1.2.5   📐 Nette Schema: validating d...
nette/utils                        v4.0.3   🛠  Nette Utils: lightweight ...
nikic/php-parser                   v4.17.1  A PHP parser written in PHP
nunomaduro/collision               v7.10.0  Cli error handling for console/...
nunomaduro/termwind                v1.15.1  Its like Tailwind CSS, but for ...
phar-io/manifest                   2.0.3    Component for reading phar.io m...
phar-io/version                    3.2.1    Library for handling version in...
phpoption/phpoption                1.9.2    Option Type for PHP
phpunit/php-code-coverage          10.1.9   Library that provides collectio...
phpunit/php-file-iterator          4.1.0    FilterIterator implementation t...
phpunit/php-invoker                4.0.0    Invoke callables with a timeout
phpunit/php-text-template          3.0.1    Simple template engine.
phpunit/php-timer                  6.0.0    Utility class for timing
phpunit/phpunit                    10.5.0   The PHP Unit Testing framework.
psr/clock                          1.0.0    Common interface for reading th...
psr/container                      2.0.2    Common Container Interface (PHP...
psr/event-dispatcher               1.0.0    Standard interfaces for event h...
psr/http-client                    1.0.3    Common interface for HTTP clients
psr/http-factory                   1.0.2    Common interfaces for PSR-7 HTT...
psr/http-message                   2.0      Common interface for HTTP messages
psr/log                            3.0.0    Common interface for logging li...
psr/simple-cache                   3.0.0    Common interfaces for simple ca...
psy/psysh                          v0.11.22 An interactive shell for modern...
ralouphie/getallheaders            3.0.3    A polyfill for getallheaders.
ramsey/collection                  2.0.0    A PHP library for representing ...
ramsey/uuid                        4.7.5    A PHP library for generating an...
sebastian/cli-parser               2.0.0    Library for parsing CLI options
sebastian/code-unit                2.0.0    Collection of value objects tha...
sebastian/code-unit-reverse-lookup 3.0.0    Looks up which function or meth...
sebastian/comparator               5.0.1    Provides the functionality to c...
sebastian/complexity               3.1.0    Library for calculating the com...
sebastian/diff                     5.0.3    Diff implementation
sebastian/environment              6.0.1    Provides functionality to handl...
sebastian/exporter                 5.1.1    Provides the functionality to e...
sebastian/global-state             6.0.1    Snapshotting of global state
sebastian/lines-of-code            2.0.1    Library for counting the lines ...
sebastian/object-enumerator        5.0.0    Traverses array structures and ...
sebastian/object-reflector         3.0.0    Allows reflection of object att...
sebastian/recursion-context        5.0.0    Provides functionality to recur...
sebastian/type                     4.0.0    Collection of value objects tha...
sebastian/version                  4.0.1    Library that helps with managin...
spatie/backtrace                   1.5.3    A better backtrace
spatie/flare-client-php            1.4.3    Send PHP errors to Flare
spatie/ignition                    1.11.3   A beautiful error page for PHP ...
spatie/laravel-ignition            2.3.1    A beautiful error page for Lara...
symfony/console                    v6.4.0   Eases the creation of beautiful...
symfony/css-selector               v6.4.0   Converts CSS selectors to XPath...
symfony/deprecation-contracts      v3.4.0   A generic function and conventi...
symfony/error-handler              v6.4.0   Provides tools to manage errors...
symfony/event-dispatcher           v7.0.0   Provides tools that allow your ...
symfony/event-dispatcher-contracts v3.4.0   Generic abstractions related to...
symfony/finder                     v6.4.0   Finds files and directories via...
symfony/http-foundation            v6.4.0   Defines an object-oriented laye...
symfony/http-kernel                v6.4.0   Provides a structured process f...
symfony/mailer                     v6.4.0   Helps sending emails
symfony/mime                       v6.4.0   Allows manipulating MIME messages
symfony/polyfill-ctype             v1.28.0  Symfony polyfill for ctype func...
symfony/polyfill-intl-grapheme     v1.28.0  Symfony polyfill for intl's gra...
symfony/polyfill-intl-idn          v1.28.0  Symfony polyfill for intl's idn...
symfony/polyfill-intl-normalizer   v1.28.0  Symfony polyfill for intl's Nor...
symfony/polyfill-mbstring          v1.28.0  Symfony polyfill for the Mbstri...
symfony/polyfill-php72             v1.28.0  Symfony polyfill backporting so...
symfony/polyfill-php80             v1.28.0  Symfony polyfill backporting so...
symfony/polyfill-php83             v1.28.0  Symfony polyfill backporting so...
symfony/polyfill-uuid              v1.28.0  Symfony polyfill for uuid funct...
symfony/process                    v6.4.0   Executes commands in sub-processes
symfony/routing                    v6.4.0   Maps an HTTP request to a set o...
symfony/service-contracts          v3.4.0   Generic abstractions related to...
symfony/string                     v7.0.0   Provides an object-oriented API...
symfony/translation                v6.4.0   Provides tools to international...
symfony/translation-contracts      v3.4.0   Generic abstractions related to...
symfony/uid                        v6.4.0   Provides an object-oriented API...
symfony/var-dumper                 v6.4.0   Provides mechanisms for walking...
symfony/yaml                       v7.0.0   Loads and dumps YAML files
theseer/tokenizer                  1.2.2    A small library for converting ...
tijsverkoyen/css-to-inline-styles  2.2.6    CssToInlineStyles is a class th...
vlucas/phpdotenv                   v5.6.0   Loads environment variables fro...
voku/portable-ascii                2.0.1    Portable ASCII library - perfor...
webmozart/assert                   1.11.0   Assertions to validate method i...
